.loki-searchbar {
  width: 95vw;
  height: 44px;
  max-width: 584px;
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.loki-searchbar.error {
  border: 1px solid #f44336;
}

.loki-searchbar img {
  margin: 4px;
  width: 44px;
}

.loki-searchbar form {
  flex-grow: 1;
}

.loki-searchbar input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.loki-searchbar input:focus {
  outline: none;
}

/* Dark Theme Optimization */

.dark-theme .loki-searchbar input {
  color: #dfe1e5;
}